/[Ll]ibrary/
/[Ll]ogs/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ss]ave/
/[Aa]ssets/AssetImport/*
/[Aa]ssets/Plugins/*
/[Aa]ssets/[Ff]onts/
.vs/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

AkashicRecord.xml
